* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
}

header {
    margin: 0 auto;
    width: 560px;
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: navy;
    text-align: center;
}

form {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
    padding: 1rem;
}

/* Adicionando o contador para numerar as perguntas */
form {
    counter-reset: question;  /* Reseta o contador ao começar o formulário */
}

label {
    position: relative;
    padding-left: 2rem;  /* Deixa espaço para o número à esquerda */
}

label::before {
    content: counter(question) ". ";  /* Adiciona o número antes do texto da pergunta */
    counter-increment: question;  /* Incrementa o contador */
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    color: navy;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    width: 100%;
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkblue;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1em;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}